.section-title, .company, .date, .job_title {text-transform:uppercase;font-weight:700;}
.section-title, .company, .date {font-size:70%;}
.job_title {font-size:80%;}
.company-meta, .section-title {color:var(--work-resume-title)}
.company-meta {margin:1% 0 2%;font-size:1.5rem;}
.item {margin-bottom:1em;padding:0;line-height:18px;font-size:14px;}
.item .r {margin-top:0.8%;float:right;text-align:right}
.item ul {margin:0;padding:10px 0 15px 25px;list-style-type:square}
.section .set {float:left;width:70%}
.section-title {float:left;word-wrap:break-word;padding:10px 0;width:22%;margin-right:20px}
.divider {display: inline-block;width:30px;border:4px solid;vertical-align:middle;margin: 0 10px 0 0;}
.keyword {font-weight:500;}
.job_title {font-size:90%;display:block;margin:5px 0}
.job_details {font-weight:600;}

@media (max-width: 550px) {
  .section-title {float:left;width:100%;}
  .section .set {float:left;width:100%}
  .section-title {text-align:center;font-size:80%;border-bottom:1px solid var(--work-resume-title);margin-bottom:1em;}
  .item .r {margin-top:.5em;float:right;text-align:right}
}