<div class="toggle-theme"><i class="icon-lightbulb"></i></div>

<script>
  if (localStorage.getItem('darkgold')) {
    document.body.classList.add('darkgold', true);
  }
let toggle = document.querySelector('.toggle-theme');
  toggle.addEventListener('click', () => {
    if (document.body.classList.contains('darkgold')) {
      localStorage.removeItem('darkgold');
    } else {
      localStorage.setItem('darkgold', true);
    }
    document.body.classList.toggle('darkgold');
});
</script>