---
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogPostCard from '@components/BlogPostCard.astro';
import GoHomeArrow from '@components/GoHomeArrow.astro';

let posts = await Astro.glob('../pages/posts/*.{md,mdx}');
posts = posts
	.filter(post => !post.frontmatter.draft)
	.sort((a, b): -1 | 1 =>
		a.frontmatter.date > b.frontmatter.date ? -1 : 1
);
---

<BaseLayout title="Blog">
<div
	class="flex flex-col h-screen mx-auto sm:max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl"
>
	<GoHomeArrow getBackTo="/" title="Posts" />
	<ul class="mx-4 mb-6 sm:ml-24 sm:mr-6">
		{posts.map((post) => <BlogPostCard post={post} />)}
	</ul>
</div>
</BaseLayout>
