---
import { formatDate } from '@utils';

const { post } = Astro.props;
---

<a href={post.url}>
	<div
		class="mb-2
		flex
		items-baseline
		text-xs
		space-x-4
		shadow-sm
		xs:max-w-xs
		sm:max-w-sm sm:text-sm
		md:max-w-md md:text-sm
		lg:max-w-lg lg:text-md
		xl:max-w-xl xl:text-lg
		hover:text-mg-accent"
	>
	<p class="whitespace-nowrap py-3 tracking-tight text-mg-accent"
	>
		{formatDate(post.frontmatter.date).toUpperCase()}
	</p>
		<h2>{post.frontmatter.title}</h2>
	</div>
</a>
