---
const currentYear = new Date().getFullYear();
---
<footer class="text-center flex-col align-bottom pb-6">
    <p>Created by: Anton Zolotukhin, &copy; 2011 - {currentYear}</p>
    <p>Built with Astro 🚀, Tailwind CSS, and GitHub Pages</p>
</footer>