---
import SocialBlock from "./SocialBlock.astro";

const currentYear = new Date().getFullYear();
---
<footer class="mx-2 justify-center text-xs lg:flex lg:justify-between lg:mx-4 mb-1">
    <SocialBlock />
    <p class="hidden md:block text-center">&copy; 2011 - {currentYear} | Built with Astro 🚀, Tailwind CSS, and GitHub Pages</p>
</footer>