---
export interface Props {
	getBackTo: string;
	title: string;
}

const { getBackTo, title } = Astro.props as Props;
---

<h1 class="
	my-4
	mx-auto
	py-2
	text-center
	text-3xl
	font-bold
	xs: max-w-xs
	sm:max-w-sm
	md:max-w-md
	lg:max-w-lg
	xl:max-w-xl
	">
	<a
		class="before:content-['â†'] hover:text-mg-accent"
		href={getBackTo}
	>
		{title}</a
	>
</h1>
