---
import Navigation from './Navigation.astro';
---

<div class="flex flex-grow flex-col items-center justify-center font-bold">
	<div class="text-3xl md:text-5xl lg:text-6xl">Hey <div class="inline-flex hover:animate-wave cursor-default">👋</div> I'm Antonio</div>
	<div class="pointer-events-none">
		<p class="my-4 text-base md:my-6 md:text-xl">
			<strong class="
				rounded-md
				bg-mg-accent
				p-1
				text-black
				opacity-90"
			>Top-notch</strong>
			Technical Writer
			<br class="visible lg:hidden" />
			and JavaScript enthusiast
		</p>
	</div>

	<Navigation />
</div>
