---
const navItems = [
	{ name: 'Blog', href: '/blog' },
	{ name: 'Me', href: '/me' }
];
---

<div class="my-5 space-x-4 align-middle text-xs font-bold md:text-base">
	{
		navItems.map((item) => (
			<a
				class="hover:border-mg-accent hover:text-mg-accent rounded-md border-2 border-slate-400 px-4 py-2"
				href={item.href}
			>
				{item.name}
			</a>
		))
	}
</div>
